/*
####
#### Responsive Styling ####
####
*/

/* Mobile Phone Breakpoint */

@media screen and (min-width: 1px) and (max-width:415px) {
    body {
        font-size: calc(20px - 30%);
        padding-top: 5px;
    }
    nav {
        display:none;
    }
    .title {
        margin-top: 50px;
        font-size: 1.4em;
    }
    .top_title {
        margin-top: 50px;
        font-size: 1.4em;
    }
    .header_inner {
        height: 45px;
    }
    .header_title h1 {
        font-size: 2em;
    }
    .header_subtitle h3 {
        margin: 0px auto auto 0px;
    } 
/* #### About Me Section #### */
    .about_me_content {
        margin: auto;
        padding: 0 5px;
        width: 90%;
        height: 75%;
    }
/* #### Technologies Div #### */
    .technologies_container {
        padding: 0 10px 0 10px;
        height: 135px;
    }
    .technologies_img {
        width: 45px;
        height: 45px;
        padding: 5px;
    }
    .technologies_img:hover {
        background-color:white;
        border: 2px solid #5b841c;
        width: 60px;
        height: 60px;
    }
/* #### My Projects Section #### */
    .my_projects {
        height: auto;
    }
    .projects_item {
        width: 260px;
    }
/* #### Future Projects Section #### */
    .future_projects {
        height: auto;
    }
/* #### Contact Section #### */
    .contact {
        height: auto;
    }
    .contact_container {
        height: auto;
        margin: auto;
    }
    .contact_item {
        height: 50%;
        margin: 8px auto;
    }
    .contact_item_upper {
        width: 100%;
        height: 80px;
        padding: 0;
        margin: 10px 0 0 0;
    }
    .contact_item_lower h4 {
        margin: 5px auto;
    }
    .contact_item_lower p {
        display: none;
    }
/* #### Footer #### */
    .footer {
        height: auto;
    }
    .footer_container {
        padding: 0;
        margin: 8px auto;
        height: auto;
    }
    .left_social_tag {
        display: none;
    }
    .left_social_logo {
        margin: auto;
    }
    .footer_copyright {
        width: 100%;
        margin: 10px auto auto auto;
        text-align: center;
    }
    .social_logo {
        margin: auto;
    }
    .social_logo_sm {
        margin: auto;
    }
}

/* Tablet Breakpoint */

@media screen and (min-width:416px) and (max-width:1025px) {
    body {
        font-size: calc(20px - 30%);
        padding-top: 5px;
    }
    nav {
        display:none;
    }
    .title {
        margin-top: 30px;
        font-size: 1.4em;
    }
    .top_title {
        margin-top: 80px;
        font-size: 1.4em;
    }
/* #### About Me Section #### */
    .about_me_content {
        margin: auto;
        padding: 0 5px;
        width: 90%;
        height: 75%;
    }
    .about_me_content p {
        font-size: 1.2em;
    }
    .about_me_content h1 {
        font-size: 1.8em;
    }
/* #### Technologies Div #### */
   
/* #### My Projects Section #### */
    .my_projects {
        height: auto;
    }
    .projects_item {
        width: 260px;
    }
/* #### Future Projects Section #### */
    .future_projects {
        height: auto;
    }
/* #### Contact Section #### */
    .contact {
        height: auto;
    }
    .contact_container {
        height: auto;
        margin: auto;
    }
    .contact_item {
        height: 50%;
        margin: 8px auto;
    }
    .contact_item_upper {
        width: 80px;
        height: 80px;
        padding: 0;
        margin: 10px auto 0 auto;
    }
    .contact_item_lower h4 {
        margin: 5px auto;
    }
}

/* Desktop Breakpoint */

@media screen and (min-width:1276px) {
    body {
        width: 1276px;
        margin-left: auto;
        margin-right: auto;
    }
    header, nav {
        width: 1276px;
        left: auto;
        right: auto;
    }

}

/* Minor Breakpoints */

/* Tech logo size adjust */

@media screen and (min-width:417px) and (max-width:1025px) {

    .technologies_container {
        padding: 0 10px 0 10px;
        height: 135px;
    }
    .technologies_img {
        width: 55px;
        height: 55px;
        padding: 5px;
    }
    .technologies_img:hover {
        background-color:white;
        border: 2px solid #5b841c;
        width: 70px;
        height: 70px;
    }
}

/* Contact link adjustments */

@media screen and (min-width:417px) and (max-width:615px) {
    .contact_item_lower p {
        display: none;
    }
}