/* Style page for Index.html */

/* class name rules = property location, property description, property  file type */

/*Global - html selectors*/
* {
    margin: 0; 
    padding: 0;
}
html, header, nav, body, main, footer, section, article, div {
    box-sizing: border-box;
}
.flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
html {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; 
}
/*
####
body
####
*/
#body {
    width: 100%;
}
/*header - NONE*/

/*
####
nav
####
*/
#nav {
    width: 100%;
}
.nav_logo_IMG {

}
.nav_list {
    list-style-type: none;
}
.nav_list_item {

}
/*
####
main
####
*/
#main {

}

/*
####
footer
####
*/

#footer {
    width: 100%;
}