
/* 
####
#### GLOBAL ####
#### 
*/

/* All entities are set to no padding no margins */

* {
    margin: 0; 
    padding: 0;
}

/* Hidden scroll bar for a clean look */

::-webkit-scrollbar {
    display: none;
}

/* No bullet points on global lists */

ul {
    list-style-type: none;
}

/* Auto adjust for all border values within most global box sizes */

html, header, nav, body, main, footer, section, article, div {
    box-sizing: border-box;
}

/* Sets values to full size of the html and body elements (which are set to viewport 100%) */

body, html {
    width: 100%;
    height: 100%;
}

/* Sets global font size and font family defaults */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 110px; 
}

/* Header and Navigation Lock */

 header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
nav {
    width: 100%;
    position: fixed;
    top: 70px;
    left: 0;
    z-index: 9999;
}

/* Creates the reusable flexbox class */

.flexbox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* Creates the resuable section titles */

.title h2 {
    padding: 3px 25px;
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 1.5em;
    background: black;
    color: white;
    border-radius: 0 5px 5px 0;
    border-bottom: 3px solid #5b841c;
    border-color: #5b841c;
}
.top_title h2 {
    padding: 3px 25px;
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 1.5em;
    background: black;
    color: white;
    border-radius: 0 5px 5px 0;
    border-bottom: 3px solid #5b841c;
    border-color: #5b841c;
}

/* 
####
#### HEADER ####
#### 
*/

.header_inner {
    height: 70px;
    background: linear-gradient( #151a1d, black);
}
.header_title {
    padding-left: 10px;
    width: auto;
    color: white;
    text-align: right;
    margin: auto 0px;
}
.header_title h1{
    font-size: 3em;
    font-weight: 550;
}
.header_subtitle {
    width: 2em;
    color: #7dac42;
    text-align: left;
    margin: 0.55em auto auto 3px;
}
.header_subtitle h3 {
    font-size: 0.77em;
    padding: 0;
}

/* 
####
#### NAVIGATION ####
#### 
*/

.nav_list {
    width: 100%;
    padding: 0 5% 0 5%;
    height: 2em;
    background-color: black;
    border-bottom: 2px solid white;
}
.nav_item {
    margin: auto;
    max-width: 20%;
    padding: 8px;
    text-align: center;
    font-size: 1em;
}
.nav_item a {
    text-decoration: none;
    color: white;
}
.nav_item a:hover {
    color: #7dac42;
}
/* Set for later JS use to indicate activated menu clicks*/
.nav_item a:focus {
    color: #7dac42;
}
.vl {
    margin: auto;
    height: 1.3em;
    border-left: 1px solid white;
}
/* 
####
#### MAIN ####
#### 
*/

/* #### About Me Section #### */

.about_me {
    height: 725px;
    background-image: url("../images/png/office_space_1920_725.png");
    background-position: center;
}
.about_me_container {
    margin-bottom: auto;
    height: 60%;
}
.about_me_content {
    color: white;
    margin: 85px auto;
    padding: 0 25px;
    text-align: center;
    background: linear-gradient(  #5b841c09,#5b841c74, #5b841c13);
    width: 75%;
}
.about_me_content p {
    padding-bottom: 15px;
    text-shadow: 2px 2px 8px black;
    font-size: 0.95em;
    max-width: 65em;
    line-height: 1.4em;
}
.aboutme_click {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px;
    background-color: #7cac42d5;
    border: 2px solid white;
    border-radius: 5px;
}
.aboutme_click:hover {
    color: #7cac42d5;
    text-shadow: none;
    background-color: white;
}
.about_me_content h1 {
    padding: 20px;
    text-shadow: 2px 2px 8px black;
    font-size: 1.6em;
}
.about_me_content div {
    padding: 15px;
    margin: 10px;
}

/* #### Technologies Div #### */

.technologies_container {
    padding: 0 75px 0 75px ;
    background-color: #151a1dc5;
    margin-top: auto;
    height: 175px;
}
.technologies_item {
    margin: auto;
    padding: 2px 4px 2px 4px;
}
.technologies_img {
    width: 65px;
    height: 65px;
    background-color: #5b841c;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
}
.technologies_img:hover {
    background-color: white;
    border: 2px solid #5b841c;
    width: 85px;
    height: 85px;
}
.technologies_img:hover + .tech_pop {
    display: block;
}
.tech_pop {
    color: white;
    text-align: center;
    display: none;
}

/* #### My Projects Section #### */

.my_projects {
    height: 600px;
}
.projects_container {
    margin-bottom: auto;
    margin-top: auto;
    padding: 2em 0 2em 0;
}
.projects_item {
    margin: 0.75em auto;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 10px;
    background: white;
    box-shadow: 3px 3px 18px 0px grey;
    height: auto;
    width: 280px;
}
.projects_item:hover {
    box-shadow: 6px 6px 28px 0px #5b841c;
    border: 1px solid white;
}
.projects_title {
    text-align: center;
    margin: auto auto;
    padding: 0.6em 0 0.4em 0;
    width: 100%;
    font-size: 1.3em;
    font-weight: 700;
    color: #151a1df8;
}
.projects_item p {
    text-align: center;
    margin: auto auto;
    padding: 5px;
    font-size: 0.85em;
    color: #151a1df8;
    width: 100%;
}
.hr {
    display:block;
    margin: auto auto 0.5em auto;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(211, 211, 211);
    width: 85%;
}
.projects_img {
    border: 1px solid rgb(109, 109, 109);
    margin: 0 auto;
    width: 230px;
    height: 230px;
    background: linear-gradient(to bottom right, #4f433dc0, #977f73c0, #5b841cc0);
}
.projects_link {
    text-decoration:none;
    margin: auto;
    text-align: center;
}
.github_link {
    text-decoration: none;
    margin: auto;
}
.github_button {
    margin: auto auto .8em auto;
    width: auto;
    padding: 5px 3px 5px 3px;
    border: 1px solid #5b841c;
    border-radius: 3px;
}
.github_button:hover {
    background-color: #5b841c;
    cursor: pointer; 
}
.github_button p {
    margin: auto 0.3em auto auto;
    padding: 0;
    font-size: 1em;
    font-weight: bold;
    width: auto;
    line-height: 1em;
    vertical-align: middle;
    height: 1em;
    color: black;
}
.git_name {
    height: 1em;
    width: 3.5em;
    margin: auto 0.2em auto 0px;
    padding:0;
}
.git_logo {
    display: block;
    height: 1em;
    width: 1em;
    margin: auto 0px auto 0px;
    border-radius: 50%;
}

/* #### Future Projects Section #### */

.future_projects {
    height: 600px;
}

/*
####
#### Contact ####
####
*/

.contact {
    height: 270px;
}
.contact_container {
    border-top: 3px solid #5b841c;
    background: linear-gradient(to bottom right, rgb(8, 8, 8), #151a1d);
    padding-bottom: 10px;
    color: white;
}
.contact_item {
    height: 75%;
    width: 20%; 
    margin: auto;
    text-align: center;
}
.contact_item_upper {
    margin: auto;
    padding: auto;
    width: 40%;
    height: 100px;
    background-color:#5b841c;
    border: 2px solid white;
    border-radius: 15px;
}
.contact_item_upper a {
    text-decoration: none;
    margin: auto;
    padding: auto;
}
.contact_img_sm {
    margin: 5px auto auto auto;
    padding: auto;
    width: 90%;
    height: 90%;
}
.contact_img {
    margin: auto;
    padding: auto;
    width: 100%;
    height: 100%;
}
.contact_item_lower {
    margin: auto;
    width:100%;
}
.contact_item_lower p {
    color: #5b841c;
    margin: 1em 0 0 0;
}
.contact_item_lower a {
    text-decoration: none;
}
.contact_item_lower p:hover {
    color: white;
}
.resume_button p {
    margin: 1em auto 0 auto;
    padding: 2px auto;
    width: 55%;
    color: #151a1d;
    text-align: center;
    background-color:#5b841c;
    border: 1px solid white;
    border-radius: 5%;
}
.resume_button p:hover {
    background: linear-gradient(to bottom right,black,#151a1d);
    border-color: #5b841c;
}

/* 
####
#### Footer ####
#### 
*/

.footer {
    background-color: black;
    height: 65px;
    border-top: 2px solid white;
    font-size: .8em;
}
.footer_container {
    padding: auto 0 auto 0;
}
.footer_copyright {
    margin: auto 25px auto auto;
    color: white;
}
.left_social_tag {
    margin: auto 10px auto 25px;
    vertical-align: middle;
    line-height: 30px;
    color: white;
}
.social_logo_img {
    width: 30px;
    height: 30px;
    padding-top: 1px;
    padding-left: 1px;
}
.social_logo {
    margin: auto 10px auto 10px;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 50%;
}
.left_social_logo {
    margin: auto 10px auto 10px;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 50%;
}
.social_logo_img_sm {
    width: 30px;
    height: 30px;
    padding-top: 2px;
    padding-left: 2px;
}
.social_logo_sm {
    margin: auto 10px auto 10px;
    vertical-align: middle;
    width: 34px;
    height: 34px;
    background-color: white;
    border-radius: 50%;
}
.social_logo_sm:hover, .social_logo:hover {
    background-color: #7dac42;
}
